<launch> 
    <node pkg = "dancing_miro" type = "pub.py" name = "joint_moves" output = "screen" >
    </node>
    <node pkg = "dancing_miro" type = "illum_pub.py" name = "led_moves" output = "screen" >
    </node>
    <node pkg = "dancing_miro" type = "body_moves.py" name = "body_moves" output = "screen" >
    </node>
</launch>

<!--
<launch> 
    <node pkg = "dancing_miro" type = "pub.py" name = "joint_moves" output = "screen">
    </node>
    <node pkg = "dancing_miro" type = "illum_pub.py" name = "led_moves" output = "screen">
    </node>
    <node pkg = "dancing_miro" type = "point_to_sound.py" name = "hearing" output = "screen">
    </node>
</launch>
-->