<launch> 
    <node pkg = "dancing_miro" type = "pub.py" name = "head_neck" output = "screen" >
    </node>
    <node pkg = "dancing_miro" type = "illum_pub.py" name = "LEDs" output = "screen">
    </node>
    <node pkg = "dancing_miro" type = "body_moves.py" name = "body" output = "screen" >
    </node>
    <node pkg = "dancing_miro" type = "miro_dance.py" name = "miro_dance" output = "screen" >
    </node>
</launch>
